<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.innovattic.font"
	android:versionCode="11"
	android:versionName="2.1" >

	<!-- WARNING: KEEP THIS FILE IN SYNC WITH build.gradle! -->

	<uses-sdk
		android:minSdkVersion="4"
		android:targetSdkVersion="19" />

</manifest>
